.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #211f27;
  color: #fff;
  border: 1px solid black; }

.container-inner {
  position: relative;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  background: #b7e4e3;
  border-radius: 50%;
  overflow: hidden;
  animation: turn-to-night 6s infinite linear; }

.sun {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 40px;
  width: 40px;
  background: yellow;
  transform-origin: 175% 300%;
  border-radius: 50%;
  animation: sun-go-around 6s infinite linear; }

.triangle-1 {
  position: absolute;
  top: 50%;
  left: 34%;
  width: 0;
  height: 0;
  margin-left: -25px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #fff;
  border-bottom-color: #ebeaea;
  animation: triangle-1-shade 6s infinite linear; }

.triangle-2 {
  position: absolute;
  top: 50%;
  left: 53%;
  width: 0;
  height: 0;
  margin-left: -25;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid black;
  border-bottom-color: #cac4be;
  -ms-transform: skewX(57deg);
  -webkit-transform: skewX(57deg);
  transform: skewX(57deg);
  animation: triangle-2-shade 6s infinite linear; }

.shadow {
  position: absolute;
  bottom: 0;
  left: 34%;
  border-left: 75px solid black;
  border-right: 75px solid black;
  border-bottom-color: 75px solid transparent; }

.sand {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 200px;
  background: #cfcc75; }

@keyframes sun-go-around {
  to {
    opacity: 0;
    transform: rotate(1turn); } }

@keyframes turn-to-night {
  0% {
    opacity: 1; }
  35% {
    opacity: 1; }
  40% {
    opacity: 0; } }

@keyframes triangle-1-shade {
  0% {
    border-bottom-color: #ebeaea; }
  25% {
    border-bottom-color: #cac4be; }
  65% {
    border-bottom-color: #ebeaea; } }

@keyframes triangle-2-shade {
  0% {
    border-bottom-color: #cac4be; }
  25% {
    border-bottom-color: #ebeaea; }
  65% {
    border-bottom-color: #cac4be; } }
