.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,.3);
  background: #3FAF82;
  color: #fff;
  border: 1px solid black;
}

.container-inner {
  position: relative;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  transform: translate( -50%, -50% );
  background: blue;
  border-radius: 50%;
}

$easeInCubic: cubic-bezier(.55,.55,.675,.19);

.sun {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 40px;
  width: 40px;
  background: yellow;
  animation: sun-go-around .7s $easeInCubic 2s infinite;
}

@keyframes sun-go-around {
  0% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
  
  100% {
    transform: translate3d(0,0,0) rotate(360deg);
  }
}